:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* { 

  margin: 0;
  padding: 0;
  box-sizing: border-box; 
} 

/*BODY*/

body{
  background-color: #788C85;
}

/*HEADER*/

header {
  display: flex;
  justify-content:space-evenly;
  height: 15vh;
  width: 100vmax;
  background-color: #84CBB1;
  color: #ffff;
}

header .logo{
  width: 60px;
  border-radius: 60px;
}

header nav ul{
  display: flex;
  justify-content: space-between;
  width: 55vmax;
  margin: 1rem 0rem;

} 

header nav ul li {
  list-style: none;
  font-weight: 600;
  font-size: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: black;
  color: #ffff;
}

/*MAIN*/

main {
  background-color: #788C85;
}


/*FOOTER*/

footer{
  background-color: #303433;
  position: fixed;
  bottom: 0;
  width: 100%;
}
