:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
  
* { 
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
} 

main {

    display: flex;
    flex-direction: column;

    /* display: grid;
    grid-template-columns: 20% 65% 25%;
    grid-template-rows: 10% 90%; */
}

main .contenedor-peliculas-filtros {

    display: flex;
    justify-content: center;
    width: 100vmax;
    
}

/*BARRA DE BUSQUEDA*/

main .busqueda {

    /* grid-row: 1;
    grid-column: 3 / 4; */

    justify-content: flex-end;

    display: flex;
    align-items: center;
    gap: 1rem; 

} 

main .busqueda #inputDeBusqueda,
main .busqueda #botonBuscar {
    margin-top: 1rem;
    background-color: #D9D9D9;
    border-radius: 1rem;
    padding: 0.5rem; 
    border: none;

    cursor: pointer;
}

main .busqueda .botonVaciarInput{
    margin-top: 1rem; 
    background: none;
    border: none;
    color: #D9D9D9;

    display: none;

    cursor: pointer;
}

/*APLICADOR FILTROS*/

main .filtros {

    /* grid-row: 2;
    grid-column: 1 / 2; */

    display: grid;
    grid-template-rows: 5% 20% 20% 20% 20% 14%;
    

    margin: 2rem 1rem 10rem; 
    padding: 1rem;  
    background-color: #D9D9D9;

    border-radius: 1rem;

}

main  .filtros h2,
main  .filtros h3 {

    margin: 1rem -10rem 1rem 1rem; 
    color: #393d3ce7;
}

main  .filtros h3 {
    font-weight: 500;
}

main  .filtros #boton-filtros{

    all: unset;

    margin: 3rem 1rem 1rem 10rem;
    padding: 0rem 2rem;
    border-radius: 1rem;
    background-color: #303433;
    color: #ffffff;

    cursor: pointer;
}

main  .filtros .contenedor-filtros {

    margin: 1rem;
    opacity: 0;
    transform: translateX(-200%);
}

main  .filtros .ver{

    opacity: 1;
    transition: opacity 1s ease;
    transform: translateX(0%);

}

/*X genero*/

main  .filtros .btnVer{

    all: unset;

    margin: 0.5rem;
    padding: 0.5rem 1rem;

    border-radius: 1rem;
    background-color: #303433;
    color: #ffffff;
    cursor: pointer;
}

main  .filtros .ver .item-genero{

    list-style-type: none;

    cursor: pointer;

    background-color: #788C85;
    border-radius: 1rem;
    margin: 1rem 5rem 1rem 1rem;
    padding: 0.4rem;
}

/* X Plataformas*/

main  .contenedor-peliculas-filtros .filtros #seccion-plataformas #contenedor-plataformas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
}

main  .contenedor-peliculas-filtros .filtros #seccion-plataformas #contenedor-plataformas .item-plataforma  {    

    list-style-type: none;
}

main  .contenedor-peliculas-filtros .filtros #seccion-plataformas #contenedor-plataformas .item-plataforma  .iconoPlataforma  {    
    width: 3rem; /* Ancho de la imagen */
    height: 3rem; /* Altura de la imagen */
    border-radius: 10px ;
    cursor: pointer;
}

/* X Orden*/

main  .contenedor-peliculas-filtros .filtros #seccion-orden #contenedor-orden .tipo-de-orden {

    list-style-type: none;

    cursor: pointer;

    background-color: #788C85;
    border-radius: 1rem;
    margin: 1rem 5rem 1rem 1rem;
    padding: 0.4rem;
    
}

/*CONTENEDOR PELICULAS*/

main .visualizacion-peliculas {

    /* grid-row: 2;
    grid-column: 2 / 4; */
    list-style-type: none;
    margin: auto;
    height: 60%;
    width: 60%;
}

main .visualizacion-peliculas .contenedor {

	width: 80%;
	max-width: max-content;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

main .visualizacion-peliculas  .contenedor .pelicula {

	text-align: center;
    cursor: pointer;
}

/* main .visualizacion-peliculas  .contenedor .pelicula .titulo {
	font-size: 16px;
	font-weight: 600;
} */

main .visualizacion-peliculas  .contenedor .pelicula .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;


}

/*NOT FOUND*/

main .contenedor-peliculas-filtros .visualizacion-peliculas #NotFound{

    font-size: 4rem;
    margin: auto;
    width: 100%;
}

/*PAGINACION*/

.paginacion{
    display: flex;
    align-items: center;
}

  ion-icon {
    font-size: 40px;
}

.btnAnterior{
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.btnSiguiente{
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
} 







