:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  * { 
  
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  } 
  
  /*BODY*/
  
  body{
    background-color: #788C85;
  }
  
 
  
  
  /*MAIN*/
  
  main {
    background-color: #788C85;
  }
  
  main h2 {
  
    color: #303433;
    font-size: 1.8rem;
  }
  
  main .main-content {
    color: #ffffff;
  }
  
  main .main-content h2 {
    width: 100vw;
    text-align: center;
    margin: 1rem;
  }
  
  main .main-content p {
  
    font-size: 1.2rem;
    font-weight: 400;
    margin: auto;
    margin-bottom: 0.5rem;
    width: 80vw;
    text-align: center;
  
  }
  
  main .tendencias h3{
    color: #303433;
    font-size: 1.5rem;
  }
  
  main .tendencias #presentacion-tendencias{
    text-align: center;
  }
    /*CONTENEDOR*/
    .contenedor {
      width: 100%;
      max-width: max-content;
    
      display: flex;
      justify-content:space-evenly;
    }
    
    .contenedor .pelicula {
      text-align: center;
      list-style: none;
    }
    
    .contenedor .pelicula .titulo {
      font-size: 16px;
      font-weight: 600;
    }
    
    .contenedor .pelicula .poster {
      width: 100%;
      margin-bottom: 10px;
      border-radius: 15px;
    }S
  /*FOOTER*/
  
  footer{
    background-color: #303433;
    position: fixed;
    bottom: 0;
    width: 100%;
  }